:root {
    --font-color: #F2C0FF;
    --bg-color: #161C30;
    --primary-color: #1DE4FF;
    --accent-color: #F800EE;
}

aside.links {

}

nav.navigation {

}

main.content {

}

footer.impressum {

}

.gradient-text {

}